@import "colors.css";

:root {
  /* SIZING ADJUST */
  font-size: 1rem;
  color: var(--nord-white3);
  font-family: "Helvetica Neue", Helvetica, Arial;

  /* |-----------| */
  /* | VARIABLES | */
  /* |-----------| */

  /* COLORS */
  --font-color1: var(--nord-black2);
  --font-color2: var(--nord-white1);
  --font-color3: var(--nord-yellow);
  --bg-color: var(--nord-black4);
  --btn-color: var(--nord-blue1);
  --app-btn-color: vaR(--nord-blue4);
  --btn-border-color: var(--nord-blue4);
  --btn-border-color2: #53749d;
  --btn-shadow-color: var(--nord-black1);
  --btn-highlight-color: rgba(255, 234, 171, 0.256);
  /* OTHER */

  --nav-height: 3.4rem;
  --btn-size: 3rem;
  --btn-size-adjusted: 3.2rem;
  --btn-expand-ratio: 3;
  --app-row-height: 5rem;
  --app-btn-size: 3.5rem;
  --app-btn-width: 13.5rem;
  --app-btn-expand-ratio: 4.5;
  --app-btn-margin: calc(
    0.5 * calc(var(--app-row-height) - var(--app-btn-size))
  );
  --btn-margin: calc(0.5 * calc(var(--nav-height) - var(--btn-size)));
  --btn-margin-adjusted: calc(
    0.5 * calc(var(--nav-height) - var(--btn-size-adjusted))
  );
  --btn-hover-transition: all 0.3s ease-in-out;
  --btn-hover-transition2: all 1.8s ease-out;
  --btn-font-bounce: all 1s cubic-bezier(0.48, -0.01, 0.32, 1.275) 0.1s;
  --btn-font-bounce2: all 0.1s cubic-bezier(0.06, 0.7, 0.02, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:hover {
  text-decoration: none;
  color: var(--font-color1);
}

body {
  width: 100vw;
  height: 100vh;
  background: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.nav {
  z-index: 999;
  position: sticky;
  top: 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: calc(1.5 * var(--btn-margin));
  padding-bottom: calc(1.5 * var(--btn-margin));
  background: var(--bg-color);
  background: linear-gradient(
    0deg,
    rgba(76, 86, 106, 0) 0%,
    rgba(76, 86, 106, 0.7166666781936084) 8%,
    rgba(76, 86, 106, 1) 2%
  );
  padding-bottom: 0.5rem;
}

.btn {
  width: var(--btn-size);
  height: var(--btn-size);
  margin: var(--btn-margin);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.75rem;
  background: var(--btn-color);
  background-size: auto 90%;
  background-position: top calc(0.03 * var(--btn-size)) left
    calc(0.05 * var(--btn-size));
  background-repeat: no-repeat;
  border-radius: 0.4rem;
  border: 0.1rem solid var(--btn-border-color);
  box-shadow: 0.05rem 0.1rem 0.3rem 0.05rem var(--btn-shadow-color),
    inset -0.1rem -0.1rem 0.5rem 0.1rem var(--btn-border-color);
  transition: var(--btn-hover-transition);
}

.btn-text {
  z-index: -1;
  text-align: right;
  width: 0rem;
  color: var(--btn-color);
  overflow: hidden;
  text-transform: uppercase;
  margin-right: 0.75rem;
  transition: var(--btn-font-bounce2);
}

.btn:hover {
  width: var(--btn-size-adjusted);
  height: var(--btn-size-adjusted);
  margin: var(--btn-margin-adjusted);
  box-shadow: 0.3rem 0.3rem 1rem 0.1rem var(--btn-shadow-color),
    inset -0.1rem -0.1rem 0.5rem 0.1rem var(--btn-border-color2),
    inset 0.1rem 0.15rem 0.5rem 0.3rem var(--btn-highlight-color);
}

.logoutTip {
  font-size: 1.4rem;
  position: absolute;
  cursor: default;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  right: 2rem;
  transition: var(--btn-hover-transition);
}

.logoutTip i {
  color: var(--font-color1);
  text-shadow: 0.03rem 0.03rem 0.4rem var(--font-color1);
}

.logoutTip .logoutTipText {
  visibility: hidden;
  color: var(--font-color1);
  text-shadow: 0.03rem 0.03rem 0.1rem var(--font-color1);
  font-size: 1.1rem;
  width: 3rem;
  background-color: var(--bg-color);
  text-align: center;
  padding: 0.5rem;
  position: absolute;
  right: 6rem;
  z-index: 1;
  text-transform: uppercase;
  transition: var(--btn-hover-transition);
}

.logoutTip:hover > .logoutTipText {
  visibility: visible;
  color: var(--font-color2);
  text-shadow: 0.04rem 0.04rem 0.4rem var(--font-color1);
  transition: var(--btn-hover-transition);
  transition-delay: 3.2s;
}

.logoutTip > .logoutTipText {
  visibility: hidden;
  cursor: default;
  color: var(--bg-color);
  text-shadow: 0.03rem 0.03rem 0.1rem var(--bg-color);
  font-size: 1.4rem;
  background-color: transparent;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  z-index: 1;
  text-transform: uppercase;
  opacity: 0;
  transition: var(--btn-hover-transition);
}

.navIcon:hover ~ .logoutTipText {
  visibility: visible;
  cursor: default;
  color: var(--font-color1);
  text-shadow: 0.04rem 0.04rem 0.4rem var(--font-color1);
  text-shadow: -0.1rem 0rem 1.7rem #eceff469;
  opacity: 100;
  transition: var(--btn-hover-transition2);
  transition-delay: 0.8s;
}

.homeTip {
  position: absolute;
  cursor: default;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  left: 2rem;
  transition: var(--btn-hover-transition);
}

.homeTip i {
  font-size: 1.4rem;
  color: var(--font-color1);
  text-shadow: 0.03rem 0.03rem 0.4rem var(--font-color1);
  transition: all 0.8s ease-in-out;
}

.navIcon:hover {
  cursor: pointer;
  text-shadow: 0.04rem 0.04rem 0.8rem var(--font-color2);
  transition: all 0.8s ease-in-out;
}

.homeTip > .homeTipText {
  visibility: hidden;
  cursor: default;
  color: var(--bg-color);
  text-shadow: 0.03rem 0.03rem 0.1rem var(--bg-color);
  font-size: 1.4rem;
  background-color: transparent;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  top: 0.6rem;
  z-index: 1;
  text-transform: uppercase;
  opacity: 0;
  transition: var(--btn-hover-transition);
}

.navIcon:hover ~ .homeTipText {
  visibility: visible;
  cursor: default;
  top: 0.6rem;
  color: var(--font-color1);
  text-shadow: 0.04rem 0.04rem 0.4rem var(--font-color1);
  text-shadow: -0.1rem 0rem 1.7rem #eceff469;
  opacity: 100;
  transition: var(--btn-hover-transition2);
  transition-delay: 0.8s;
}

i.welcomeHome {
  color: var(--font-color3);
  cursor: default;
}

i.welcomeHome:hover {
  text-shadow: 0.03rem 0.03rem 0.4rem var(--font-color1);
  cursor: default;
}

i.welcomeHome:hover ~ .homeTipText {
  visibility: hidden;
}

.activeFrame {
  height: var(--btn-size);
  width: calc(var(--btn-expand-ratio) * var(--btn-size));
  margin: var(--btn-margin);
  background: var(--btn-color);
  background-position: top calc(0.03 * var(--btn-size)) left
    calc(0.06 * var(--btn-size));
  background-size: auto 90%;
  background-repeat: no-repeat;
  transition: var(--btn-hover-transition);
}

.activeFrame:hover {
  width: calc(var(--btn-expand-ratio) * var(--btn-size));
  height: var(--btn-size);
  margin: var(--btn-margin);
  box-shadow: 0.05rem 0.1rem 0.3rem 0.05rem var(--btn-shadow-color),
    inset -0.1rem -0.1rem 0.5rem 0.1rem var(--btn-border-color);
  transition: var(--btn-hover-transition);
  cursor: default;
}

.activeFrame > .btn-text {
  z-index: 99;
  width: 5rem;
  color: var(--font-color1);
  text-shadow: 0.03rem 0.03rem 0.1rem var(--btn-border-color);
  transition: var(--btn-font-bounce);
}

.apps {
  width: 90vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, 15rem);
  gap: 3%;
  justify-content: center;
}

.ctg {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 2fr;
}

.app-btn {
  width: 95%;
  height: var(--app-btn-size);
  margin-top: var(--app-btn-margin);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  background: #5e81ac37;
  background-size: auto 75%;
  background-position: top calc(0.125 * var(--app-btn-size)) left
    calc(0.12 * var(--app-btn-size));
  background-repeat: no-repeat;
  border-radius: 0.4rem;
  box-shadow: 0.05rem 0.1rem 0.3rem 0.05rem var(--btn-shadow-color);
  transition: var(--btn-hover-transition);
  z-index: 1;
}

.app-btn:hover {
  box-shadow: 0.05rem 0.1rem 0.5rem 0.05rem var(--btn-shadow-color),
    0rem 0.2rem 0.5rem 0.01rem var(--btn-highlight-color),
    inset 0rem 0.3rem 0.3rem -0.1rem var(--btn-highlight-color);
  transition: var(--btn-hover-transition);
}

.app-btn-text {
  color: var(--font-color2);
  overflow: hidden;
  text-transform: uppercase;
  margin-right: 0.75rem;
  transition: var(--btn-font-bounce2);
  font-size: 0.8rem;
  padding-left: 4rem;
  text-shadow: 0.04rem 0.04rem 0.2rem var(--btn-shadow-color);
}

.menu {
  width: 19.6rem;
  height: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 80vh;
  width: 60vw;
  min-height: 15rem;
}

.home div {
  margin: 1rem 0;
}

.search-wrapper {
  border-radius: 2rem;
  height: 2.5rem;
  border: solid 0.12rem var(--nord-blue4);
  box-shadow: 0.05rem 0.1rem 0.3rem 0.05rem var(--btn-shadow-color);
  background: transparent;
  width: 37rem;
  z-index: 1;
  overflow: hidden;
}

.searchForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.inputStyle {
  height: 2.4rem;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border: transparent 0 var(--font-color2);
  border-right-width: 0;
  box-shadow: 0.05rem 0.1rem 0.3rem 0.05rem var(--btn-shadow-color);
  background: transparent;
  width: 85%;
  padding: 0.5rem 1rem;
}

.submitStyle {
  font-size: 1.4rem;
  height: 2.4rem;
  color: var(--font-color1);
  text-shadow: 0.03rem 0.03rem 0.1rem var(--btn-border-color);
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  border: transparent 0 var(--font-color2);
  border-left-width: 0;
  background: var(--btn-color);
  box-shadow: inset -0.1rem -0.25rem 0.5rem 0.1rem var(--btn-border-color2);
  width: 15%;
  padding: 0rem 0.2rem 0.1rem 0.1rem;
  transition: var(--btn-hover-transition);
}

.submitStyle:hover,
.submitStyle:focus {
  cursor: pointer;
  color: var(--font-color3);
  text-shadow: 0.03rem 0.03rem 0.1rem var(--btn-highlight-color);
}

input,
input::-webkit-input-placeholder {
  font-size: 1rem;
  color: var(--font-color2);
}

input,
input:focus {
  outline: 0;
  -webkit-appearance: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: 0.05rem 0.1rem 0.3rem 0.05rem var(--btn-shadow-color);
}

.submitStyle:hover,
.submitStyle:focus {
  cursor: pointer;
  box-shadow: inset -0.1rem -0.25rem 0.5rem 0.1rem var(--btn-border-color2),
    inset 0.1rem 0.15rem 0.5rem 0.3rem var(--btn-highlight-color);
}

.bookmarks {
  width: 100%;
  max-width: 25rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  gap: 5rem;
}

.bookmarks a {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.bookmark-img {
  width: 100%;
  width: 10rem;
}

footer {
  z-index: 99;
  font-size: 1.03rem;
  font-weight: 200;
  position: fixed;
  text-transform: uppercase;
  bottom: 0;
  width: 100%;
  height: 1.35rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-shadow: 0.04rem 0.04rem 0.3rem var(--font-color2);
  background: rgb(76, 86, 106);
  background: linear-gradient(
    180deg,
    rgba(76, 86, 106, 0) 0%,
    rgba(76, 86, 106, 1) 30%
  );
}

footer span {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer span * {
  font-size: 0.7rem;
  padding: 0 0.2rem;
  cursor: default;
}

footer span h2 {
  padding: 0 1rem;
}

footer span h3 {
  font-weight: 200;
}

footer span p {
  font-weight: 100;
  font-size: 0.5rem;
  padding-top: 0.1rem;
}

footer span a {
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: 300;
  color: var(--font-color2);
  text-decoration: underline;
  text-shadow: 0.04rem 0.04rem 0.2rem var(--font-color2);
}

footer a:hover {
  color: var(--font-color3);
  text-shadow: 0.05rem 0.05rem 5rem 5rem var(--btn-highlight-color);
  text-decoration: underline;
  text-decoration-color: var(--font-color2);
}

@media (max-width: 800px) {
  #homeText,
  #logoutText {
    font-size: 1rem;
  }

  #homeText {
    padding-left: 0.5rem;
  }

  #logoutText {
    right: 4.1rem;
  }

  #homeSection {
    width: 95vw;
  }

  .search-wrapper {
    width: 74vw;
  }
}

@media (max-width: 600px) {
  .apps {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  #app-section {
    padding-bottom: 3rem;
  }

  .ctg {
    width: 80%;
    max-width: 15rem;
  }

  .app-btn-text {
    width: 67%;
  }

  /* */

  #homeText,
  #logoutText {
    display: none;
    width: 0;
  }

  /*  */

  .activeFrame,
  .activeFrame:hover > .btn-text {
    width: var(--btn-size-adjusted);
    height: var(--btn-size-adjusted);
    margin: var(--btn-margin-adjusted);
    box-shadow: 0.3rem 0.3rem 1rem 0.1rem var(--btn-shadow-color),
      inset -0.1rem -0.1rem 0.5rem 0.1rem var(--btn-border-color2),
      inset 0.1rem 0.15rem 0.5rem 0.3rem var(--btn-highlight-color);
  }

  #btnMenu:hover,
  #btnJellyfin:hover,
  #btnHA:hover,
  #btnNextcloud:hover {
    width: var(--btn-size-adjusted);
    height: var(--btn-size-adjusted);
    margin: var(--btn-margin-adjusted);
    box-shadow: 0.3rem 0.3rem 1rem 0.1rem var(--btn-shadow-color),
      inset -0.1rem -0.1rem 0.5rem 0.1rem var(--btn-border-color2),
      inset 0.1rem 0.15rem 0.5rem 0.3rem var(--btn-highlight-color);
  }

  .activeFrame > .btn-text,
  .activeFrame:hover > .btn-text {
    width: 0;
  }

  /*  */
}

.hidden {
  display: none;
}

@media (max-width: 500) {
  #bookmarkSection {
    display: flex;
    flex-direction: row;
  }

  .nav {
    max-width: 23rem;
  }

  #homeSection,
  #bookmarkSection {
    position: relative;
  }
}
